.App {
  text-align: center;
}

/* ///////////////////////////////////////////////////////////////////////////////////// */
.alternate_product {
  flex-direction: column;
  text-align: center;
}

.alternate_product img,
.alternate_product div {
  width: 98%;
  margin: auto;
}

.alternate_price {
  flex-direction: column;
}

@media (min-width: 1100px) {
  .alternate_product {
    flex-direction: row;
    text-align: none;
  }
  .alternate_product img {
    width: 30%;
  }
  .alternate_product div {
    width: 68%;
  }
  .alternate_price {
    flex-direction: row;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////// */
.box_width {
  width: 47%;
}

@media (min-width: 831px) {
  .box_width {
    width: 32%;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////// */
.search_bar {
  width: auto;
}

.nav_rightSide_img {
  height: 17px;
}

.card_upperPart {
  flex-direction: column-reverse;
  align-items: center;
}

@media (min-width: 630px) {
  .search_bar {
    width: 500px;
  }
  .card_upperPart {
    flex-direction: row;
  }
}
/* /////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 420px) {
  .nav_rightSide {
    display: none;
  }
  .box_width {
    width: 100%;
  }
}
